@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Condensed-Bold;
  font-display: swap;
  src: url("../fonts/OpenSansCondensed-Bold.woff") format("woff"), url("../fonts/OpenSansCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: 'OpenSans', sans-serif;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  padding: 80px 0;

}
img {
  display: block;
}

section {
  padding: 80px 0;
}

input {
  color: #333 !important;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

/*header*/
header {
  padding: 30px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .left {
  padding-right: 20px;
  display: flex;
  align-items: center;
  flex-basis: 30%;
}

header .left_logo {
  margin-right: 25px;
  width: 145px;
}

header .left_logo-text {
  width: 220px;
  color: #0096dc;
  font-size: 14px;
}

header .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 60%;
}

.header_summon {
  display: inline-block;
  padding: 5px 0;
  max-width: 165px;
  border: 2px solid #55a831;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.header_summon:hover {
  transform: scale(1.1, 1.1);
}

.header_summon img {
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

 .header_summon-text {
  font-size: 14px;
  flex-basis: 50%;
  color: #55a831;
  text-transform: uppercase;
  font-family: "OpenSans-Condensed-Bold";

}

.header_work-time {
  display: flex;
  align-items: center;
}

.header_work-time img {
  margin-right: 15px;
  font-size: 14px;
}

.header_time {
  font-size: 1.15rem;
  font-weight: 600;
}

.header_phone-number {
  display: flex;
  flex-direction: column;
}

.header_phone-number .phone {
  font-size: 22px;
  font-weight: 700;
}

.header_phone-number img {
  display: inline-block;
  margin-right: 5px;
}

.header_phone-number a {
  color: #0096dc;
  text-align: right;
}

/*section-initial*/
.section-initial {
  padding: 70px 0;
  width: 100%;
  background-image: url("../img/bg-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-initial .container {
  display: flex;
  justify-content: space-between;
}

.section-initial-left .glazing-balconies {
  font-size: 26px;
  font-weight: bold;
}

.section-initial-left .glazing-price {
  margin-top: 25px;
  font-weight: bold;
  font-size: 55px;
}

.section-initial-left .initial-icons {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.left_initial-icon {
  flex-basis: 100px;
}

.yellow-btn {
  display: block;
  font-family: "OpenSans-Condensed-Bold";
  margin-top: 20px;
  width: 268px;
  height: 78px;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 10px;
  border: 1px solid #ffc600;
  background: linear-gradient(-180deg, #ffed26 0%, #ffb400 100%);
  box-shadow: 0px 2px 20px 0px rgba(255, 153, 0, 0.4);
  cursor: pointer;
  transition: all .3s ease;
  outline: none;
  overflow: hidden;
}

/*.title-section*/
.title-section {
  font-size: 30px;
  text-align: center;
  position: relative;
  margin-bottom: 83px;
  text-transform: uppercase;
}

.title-section::before {
  content: '';
  display: block;
  width: 140px;
  height: 2px;
  background: linear-gradient(45deg, transparent, #0096dc, transparent);
  position: absolute;
  left: 50%;
  margin-left: -70px;
  bottom: -25px;
}

.yellow-btn:hover,
.yellow-btn:focus {
  transform: scale(1.05, 1.05);
}

/*glazing*/

.balconies-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.balconies-list a {
  display: block;
  text-decoration: none;
}

.balconies-item {
  flex-basis: 15%;
}

.balconies-item:hover .balconies-item_text {
  color: #454545;
  text-decoration: none;
}
.balconies-item.active .balconies-item_text {
  color: #454545;
  text-decoration: none;
}


.balconies-item img {
  margin: 0 auto;
}

.balconies-item_text {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #249ae6;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s ease;
}


.cold-warm {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  display: none;

}

 
.cold-warm.active {
  display: flex;
}

.cold-warm h3 {
  margin: 35px 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.cold-warm_item {
  padding: 0 60px 50px;
  flex-basis: 50%;
  position: relative;
  overflow: hidden;
  color: #000;
}

.cold-warm_item::before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.cold-warm_item::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -6px;
}

.cold-warm_item.cold {
  background: linear-gradient(-180deg, rgba(13, 143, 227, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

.cold-warm_item.cold h3 {
  color: #0d8fe3;
}

.cold-warm_item.cold::before,
.cold-warm_item.cold::after {
  background-color: #0d8fe3;
}

.cold-warm_item.warm {
  background: linear-gradient(-180deg, rgba(255, 185, 3, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

.cold-warm_item.warm h3 {
  color: #ffb903;
}

.cold-warm_item.warm::before,
.cold-warm_item.warm::after {
  background-color: #ffb903;
}

.cold-warm_item img {
  width: 100%;
}

.cold-warm_item_list {
  list-style: none;
  padding-left: 35px;
}

.cold-warm_item_list li {
  margin: 10px 0;
  position: relative;
}

.cold-warm_item_list li::before {
  content: '';
  width: 25px;
  height: 25px;
  display: block;
  background: url("../img/checked.png");
  position: absolute;
  left: -35px;
  top: 0;
}

.cold-warm_footer {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cold-warm_price .price {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.cold-warm_footer .yellow-btn {
  width: 260px;
  height: 65px;
  margin: 0;
}


/*wrap*/
.wrap {
  background-color: #f7f7f7;
}


.wrap-items-titles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrap-item-title {
  padding: 35px 25px;
  flex-basis: 25%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border: none;
  outline: none;
}

.wrap-item-title:before {
  content: '';
  display: block;
  width: 1px;
  height: 80%;
  background: linear-gradient(-180deg, #ccc5, transparent);
  position: absolute;
  top: 0;
  left: 0;
}

.wrap-item-title:after {
  content: '';
  display: block;
  width: 1px;
  height: 80%;
  background: linear-gradient(-180deg, #ccc5, transparent);
  position: absolute;
  top: 0;
  right: 0;
}

.wrap-item-title:hover,
.wrap-item-title.active {
  background: linear-gradient(-180deg, #0001, transparent);
}

.wrap-item-title:hover div,
.wrap-item-title.active div {
  opacity: 1;
}

.wrap-item-title:hover h3,
.wrap-item-title.active h3 {
  color: #0096dc;
  border: none;
}

.wrap-item-title div {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0096dc;
  opacity: 0;
  transition: all .2s ease;
}

.wrap-item-title div::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -6px;
  background-color: #0096dc;
}

.wrap-items-titles h3 {
  border-bottom: 2px dashed #000;
  font-size: 16px;
}

.wrap-items-list {
  margin-top: 40px;
}

.wrap-item {
  display: flex;
  justify-content: space-between;
  display: none;
}

.wrap-item.active {
  display: flex;
}

.wrap-item-img {
  flex-basis: 30%;
  margin-right: 15px;
}

.wrap-item-parts {
  padding: 0 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.wrap-item-parts img {
  display: inline-block;
}

.wrap-item-parts .wrap-item-part {
  margin: 0 1.5%;
  min-height: 160px;
  max-height: 250px;
  flex-basis: 30%;
  flex-basis: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrap-item-part-subtitle {
  color: #000;
  font-weight: 700;
}

.wrap-item-part-price {
  color: #0096dc;
  font-weight: 700;
}

.wrap-text p:last-child {
  font-size: 12px;
  font-weight: 600;
  color: #000;
}


/*works*/
.works .container {
  margin-bottom: 40px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works-item {
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
  transition: all .3s ease;
  border-radius: 10px;
  overflow: hidden;
}

.works-item:hover {
  transform: scale(1.1, 1.1);
}

.works-item.active {
  display: block;
}

.works-item::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background: url("../img/zoom-in.png");
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 50%;
  margin-left: -20px;
}

/*guarantee*/
.guarantee {
  background-color: #0096dc;
  color: #fff;
  padding: 40px 0;
}

.guarantee .title-section::before{
  background: linear-gradient(45deg, transparent, rgb(255, 255, 255), transparent);

}
.guarantee-list {
  margin-bottom: -80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.guarantee-item {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.guarantee-item_text {
  margin-top: 30px;
  text-align: center;
}

/*pay-methods*/
.pay-methods {
  padding: 40px 0;
}

.pay-methods .title-section::before{
  opacity: 0;
}
.pay-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pay-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.pay-item p {
  margin-left: 34px;
  font-size: 20px;
  font-weight: 600;
}

/*stock*/
.stock {
  background: url("../img/bg-2.jpg");
  background-position: center top;
  background-size: cover;
  color: black;
  padding: 40px 0;

}

.stock .container {
  display: flex;
  justify-content: space-between;
}

.stock .left h3 {
  font-size: 48px;
  color: #008cce;
  font-weight: bold;
}

.stock .left > p {
  margin-top: 70px;
  font-size: 24px;
  font-weight: 600;
}

.timer {
  margin-top: 80px;
  padding: 25px;
  width: 260px;
  min-height: 160px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.timer h4 {
  font-weight: 700;
  text-transform: uppercase;
}

.time {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.time-item {
  text-align: center;
}

.time-item p {
  font-weight: 600;
}

.time-item_number {
  margin-bottom: 10px;
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "OpenSans-Condensed-Bold";
  font-size: 28px;
  color: #efefef;
  border-radius: 10px;
  background-image: linear-gradient(-180deg, #393939 0%, #141414 50%, #393939 51%, #141414 100%);
}

  /* where_us */
.where_us {
  padding: 40px 0;
}

.where_us .container {
  display: flex;
  justify-content: space-between;
}

.where_us .map {
  background-image: url("../img/map.jpg");
}

.where_us .right {
  padding-left: 110px;
  flex-basis: 50%;
}

.where_us .right .where-item {
  margin-bottom: 40px;
}

.where-item:last-child {
  margin-bottom: 0;
}

.where-item h4 {
  color: #008cce;
  font-size: 16px;
}

.where-item a {
  margin-top: 10px;
  font-size: 18px;
  color: #000;
}

.where-item p {
  margin-top: 10px;
  font-size: 18px;
  color: #000;
}

  /* questions */
.questions {
  color: #fff;
  font-size: 30px;
  background-color: #0096dc;
  margin-top: 40px;

}

.questions .container {
  height: 150px;
  display: flex;
  font-size: 20px;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
}

.questions .container a {
  color: #fff;
  margin-left: -272px;
  margin-top: 0;
  text-align: center;
}

.questions .container p{
  margin-left: -10px;
}

  /* footer */
footer {
  padding: 35px 0;
  margin-top: 40px;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .phone a {
  color: #0096dc;
}


.apd {
	display: flex;
    flex-direction: column;
    align-items: center;
	padding-left: 5%;
    padding-right: 5%;
}


/*modal*/
.form_free_modal {
  padding: 35px 50px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  flex-wrap: wrap;
  align-content: space-around;
}

.form_free_modal .sign-up {
  font-size: 20px;
  font-weight: bold;
}

.form_free_modal .free {
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
}

.form_free_modal input {
  padding: 25px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-size: 15px;
  color: #999999;
  outline: none;
}

.form_free_modal input.name_modal {
  margin-top: 40px;
  margin-bottom: 20px;
}

.form_free_modal .confidential {
  margin-top: 10px;
  font-size: 11px;
  color: #666666;
}

.yellow_btn_modal {
  display: block;
  font-family: "OpenSans-Condensed-Bold";
  margin-top: 20px;
  width: 268px;
  height: 78px;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 10px;
  border: 1px solid #ffc600;
  background: linear-gradient(-180deg, #ffed26 0%, #ffb400 100%);
  box-shadow: 0px 2px 20px 0px rgba(255, 153, 0, 0.4);
  cursor: pointer;
  transition: all .3s ease;
  outline: none;
  overflow: hidden;
}

.yellow_btn_modal:hover,
.yellow_btn_modal:focus {
  transform: scale(1.05, 1.05);
}

#modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  overflow: auto;
  visibility:hidden;
  opacity: 0;
  transition: opacity 0.7s ease-in 0s;
}
.modal_popup {
  top: 10%;
  left: 0;
  right: 0;       
  font-size: 14px;
  margin: auto;
  width: 80%;
  min-width: 200px;
  max-width: 600px;
  position: absolute;
  padding: 15px 20px;
  border: 1px solid #666;
  background-color: #fefefe;
  z-index: 1000;
  border-radius: 10px;
  font: 14px/18px 'Tahoma', Arial, sans-serif;
  box-shadow: 0 0px 14px rgba(0, 0, 0, 0.4);
}
.close_modal {
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  position: absolute;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 130, 230, 0.9);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  outline: none;
}
.close_modal:before {
  color: rgba(255, 255, 255, 0.9);
  content: "X";
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close_modal:hover {
  background-color: rgba(180, 20, 14, 0.8);
}

